body {
    background-color: bisque;
    font-family: Helvetica;
    font-size: 130%;
}

h1{
    text-align: center;
    color: navy;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}
div.polaroid {
  width: 150px; 
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  margin-left: auto;
    margin-right: auto;
}

div.container {
  text-align: center;
  padding: 1px 3px;
}

p.copyright {
    color: black;
    font-size: 15px;
}

input[type=number] {
    font-size: 120%;
    width : 150px;
}

.botonlft {
  background: grey;
  padding: 0.5em;
  color: white;
  font-size: 80%;
    font-weight: bold;
  
  border: 0;
  margin: 0rem auto 0 auto;
}

.botonlft:hover {
    background: black;
    
}

p.titform {
    font-size: 120%;
}

label {
    font-size: 135%;
}

p.instrucciones {
    text-align: center;
    color: darkslategrey;
    font-size: 120%;
    width: bold;
}

p.resultados {
    color: navy;
    font-size: 160%;
    text-align: center;
}
p.resmos {
    color: navy;
    font-size: 140%;
}
p.resmos2 {
    color: red;
    font-size: 500%;
    text-align: center;
}

.calculo {
  background: lightgrey;
  padding: 0.7em;
  font-size: 118%;
  
  border: 0;
  margin: 2rem auto 0 auto;
}

input:focus {
  outline: 1px solid navy;
}

.calculo:hover {
      background: navy;
  color: white;
    font-weight: bold;
}

form {
  padding: 1em;
  background: #faffc4;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
}
form.resulta {
  padding: 1em;
  background: #e0edff;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
}